<div class="icon-selector">
  <button mat-button color="primary" (click)="selectioChanged('cards')" [disabled]="isSelected('cards')"
    [matTooltip]="getTooltip('cards')" class="selected-icon" aria-label="Example icon button with a menu icon">
    <mat-icon>dashboard</mat-icon>
  </button>
  <button mat-button color="primary" (click)="selectioChanged('list')" [disabled]="isSelected('list')"
    [matTooltip]="getTooltip('list')" class="selected-icon" aria-label="Example icon button with a menu icon">
    <mat-icon>list</mat-icon>
  </button>
</div>
