mat-icon.xl {
  height: 48px;
  width: 48px;
  font-size: 400%;
  margin: 8px;
}

mat-icon.large {
  height: 36px;
  width: 36px;
  font-size: 300%;
  margin: 6px;
}

mat-icon.medium {
  height: 30px;
  width: 30px;
  font-size: 220%;
  margin: 4px;
}

mat-icon.small {
  height: 18px;
  width: 18px;
  font-size: 150%;
  margin: 2px;
}