.commission-view {
    width: 90vw;
    max-width: 1300px;
    margin: auto;
    padding-bottom: 40px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  
    .bar {
      height: 70px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  
      div {
        display: flex;
        justify-content: space-between;
  
        p {
          font-weight: 800;
          padding: 0px 25px;
        }
      }
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  