<div class="home">
  <div class="top-arrow-container">
    <div class="top-arrow">
      <mat-icon class="large" color="warn">north</mat-icon>
      <p>Click-here !</p>
    </div>
  </div>

  <div class="exercice-description background-clear-white mt-15">
    <h2>Description de l'exercice</h2>
    <ul>
      <li>Créer un nouveau projet Angular version 10</li>
      <li>Créer un nouveau module appelé "Customer"</li>
      <li>Créer un component appelé "Commission" dans ce module</li>
      <li>Utiliser du lazy loading pour charger ce module "Customer" sous la route "/customer"</li>
      <li>Reproduire le visuel figma <a class="format-link"
          href="https://www.figma.com/proto/Dk1uumCH1FcximUKwVt8R5/Certinergie?node-id=115%3A1078&scaling=min-zoom"
          target="_blank">
          ci-joint</a>
        en utilisant obligatoirement templateUrl et styleUrl</li>
      <li>Récupérer et afficher les informations de notre API dans le tableau</li>
      <li>L'exercice sera à nous remettre sous forme de lien git repository ici : <a class="no-style"
          href="https://github.com/wsomdev/wsomCertienergy" target="_blank">
          <mat-icon fontSet="fontawesome" fontIcon="fa-github"></mat-icon>
        </a></li>
    </ul>
  </div>
</div>
