.print-panel {
  margin: 5px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  height: 50px;
  box-shadow: rgba($color: #000000, $alpha: .1) 0px 3px 4px 0px;

  p {
    width: 250px;
  }
}
